{% load static %}
<!DOCTYPE html>
<html data-bs-theme="auto">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <title>Remiux |{% block title %} Ecommerce{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="robots" content="all,follow" />

    <script src="{% static 'js/color-modes.js' %}"></script>
    <!-- gLightbox gallery-->
    <link
      rel="stylesheet"
      href="{% static '/vendor/glightbox/css/glightbox.min.css'  %}"
    />
    <!-- Range slider-->
    <link
      rel="stylesheet"
      href="{% static '/vendor/nouislider/nouislider.min.css'  %}"
    />
    <!-- Choices CSS-->
    <link
      rel="stylesheet"
      href="{% static '/vendor/choices.js/public/assets/styles/choices.min.css'  %}"
    />
    <!-- Swiper slider-->
    <link
      rel="stylesheet"
      href="{% static '/vendor/swiper/swiper-bundle.min.css'  %}"
    />
    <!-- Google fonts-->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap"
    />
    <!-- theme stylesheet-->
    <link
      rel="stylesheet"
      href="{% static 'css/style.default.min.css'  %}"
      id="theme-stylesheet"
    />

    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static '/img/favicon.png'  %}" />
    <!-- Bootstrap-->
    <link
      href="{% static '/vendor/bootstrap/css/bootstrap.min.css'  %}"
      rel="stylesheet"
    />
    <!-- Custom stylesheet - for your changes-->
    <link rel="stylesheet" href="{% static '/css/custom.css'  %}" />
    <!-- AOS library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
      <symbol id="bootstrap" viewBox="0 0 118 94">
        <title>Bootstrap</title>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
        ></path>
      </symbol>
      <symbol id="list" viewBox="0 0 16 16">
        <path
          fill-rule="evenodd"
          d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
        />
      </symbol>
      <symbol id="check2" viewBox="0 0 16 16">
        <path
          d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"
        />
      </symbol>
      <symbol id="circle-half" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z" />
      </symbol>
      <symbol id="moon-stars-fill" viewBox="0 0 16 16">
        <path
          d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278z"
        />
        <path
          d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z"
        />
      </symbol>
      <symbol id="sun-fill" viewBox="0 0 16 16">
        <path
          d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8zM8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0zm0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13zm8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5zM3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8zm10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0zm-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707zM4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z"
        />
      </symbol>
    </svg>
    <div
          class="dropdown position-fixed bottom-0 end-0 mb-3 me-3 bd-mode-toggle z-index-50">
          <button
            class="btn py-2 dropdown-toggle d-flex align-items-center"
            id="bd-theme"
            type="button"
            aria-expanded="false"
            data-bs-toggle="dropdown"
            aria-label="Toggle theme (light)"
            style="border-radius: 50% !important; backdrop-filter: blur(1px)"
          >
            <svg class="bi my-1 theme-icon-active" width="1.4em" height="1.4em">
              <use href="#sun-fill"></use>
            </svg>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
          </button>
          <ul
            class="dropdown-menu dropdown-menu-end shadow"
            aria-labelledby="bd-theme-text"
            data-popper-placement="top-end"
            style="
              position: absolute;
              inset: auto 0px 0px auto;
              margin: 0px;
              transform: translate3d(0.5px, -44px, 0px);
            "
          >
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="light"
                aria-pressed="true"
              >
                <svg class="bi me-2 opacity-50" width="1em" height="1em">
                  <use href="#sun-fill"></use>
                </svg>
                Light
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                  <use href="#check2"></use>
                </svg>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="dark"
                aria-pressed="false"
              >
                <svg class="bi me-2 opacity-50" width="1em" height="1em">
                  <use href="#moon-stars-fill"></use>
                </svg>
                Dark
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                  <use href="#check2"></use>
                </svg>
              </button>
            </li>
            <li>
              <button
                type="button"
                class="dropdown-item d-flex align-items-center"
                data-bs-theme-value="auto"
                aria-pressed="false"
              >
                <svg class="bi me-2 opacity-50" width="1em" height="1em">
                  <use href="#circle-half"></use>
                </svg>
                Auto
                <svg class="bi ms-auto d-none" width="1em" height="1em">
                  <use href="#check2"></use>
                </svg>
              </button>
            </li>
          </ul>
        </div>
    <div class="page-holder">
      <header class="p-3 mb-3 border-bottom">
        <nav
          class="navbar navbar-expand-md navbar-dark fixed-top nav-bg-blur bg-dark"
        >
          <div class="container-fluid">
            <a class="navbar-brand" href="index.html"
              ><span class="fw-bold text-uppercase">Remiux</span></a
            >
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasNavbar2"
              aria-controls="offcanvasNavbar2"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div
              class="offcanvas offcanvas-end text-bg-dark"
              tabindex="-1"
              id="offcanvasNavbar2"
              aria-labelledby="offcanvasNavbar2Label"
            >
              <div class="offcanvas-header">
                <a class="navbar-brand" href="index.html"
                  ><span class="fw-bold text-uppercase">Remiux</span></a
                >
                <button
                  type="button"
                  class="btn-close btn-close-white"
                  data-bs-dismiss="offcanvas"
                  aria-label="Close"
                ></button>
              </div>
              <div class="offcanvas-body">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item">
                    <a class="nav-link active" href="index.html"
                      ><span class="fw-bold text-uppercase">Home</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="shop.html"
                      ><span class="fw-bold text-uppercase">Shop</span></a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="about.html"
                      ><span class="fw-bold text-uppercase">About us</span></a
                    >
                  </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                  {% if user.is_authenticated %}
                    <li class="nav-item">
                      <div class="dropdown">
                        <a
                          href="#"
                          class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <img
                            src="{% static '/img/avatar.jpg'  %}"
                            alt=""
                            width="32"
                            height="32"
                            class="rounded-circle me-2"
                          />
                          <strong>mdo</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow">
                          <li>
                            <a class="dropdown-item" href="user_orders.html"
                              >My shopping</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="perfil.html">Perfil</a>
                          </li>
                          <li><hr class="dropdown-divider" /></li>
                          <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
                        </ul>
                      </div>
                    </li>
                  {% else %}
                  <li class="nav-item">
                    <a
                      class="nav-link d-inline-block"
                      href="#SignUpOrSingIn"
                      data-bs-toggle="modal"
                      ><i class="fas fa-user me-1"></i>Login/Register</a
                    >
                  </li>
                  {% endif %}
                  
                  
                  <li class="nav-item">
                    <a
                      class="nav-link d-inline-block"
                      href="cart.html"
                      tabindex="0"
                      data-bs-placement="bottom"
                      data-bs-toggle="popover"
                      data-bs-trigger="hover focus"
                      data-bs-content="My Cart"
                      ><i class="fas fa-dolly-flatbed me-1"></i
                      ><small class="fw-normal">(2)</small></a
                    >
                  </li>
                  {% if contact %}
                    <li class="nav-item">
                      <a
                        class="nav-link d-inline-block"
                        href="mailto:{{contact.contact_email}}"
                        tabindex="0"
                        data-bs-toggle="popover"
                        data-bs-placement="bottom"
                        data-bs-trigger="hover focus"
                        data-bs-content="Contact"
                      >
                        <i class="fa fa-envelope me-1"></i
                      ></a>
                    </li>
                  {% endif %}
                  
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </header>

      

      <!-- Modal Login and Register -->
      <div class="modal fade" id="SignUpOrSingIn" tabindex="-1">
        <div class="modal-dialog" role="document">
          <div class="modal-content rounded-4 shadow">
            <div class="modal-header mb-4">
              <h2 class="fw-bold mb-0 fs-2">Welcome</h2>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>

            <div class="modal-body pt-0">
              <ul
                class="w-100 nav justify-content-around border-1"
                id="myTab"
                role="tablist"
              >
                <li class="nav-item nav-login">
                  <a
                    class="nav-link text-uppercase active"
                    id="loginForm-tab"
                    data-bs-toggle="tab"
                    href="#loginForm"
                    role="tab"
                    aria-controls="loginForm"
                    aria-selected="true"
                    >Login</a
                  >
                </li>
                <li class="nav-item nav-register">
                  <a
                    class="nav-link text-uppercase"
                    id="registerForm-tab"
                    data-bs-toggle="tab"
                    href="#registerForm"
                    role="tab"
                    aria-controls="registerForm"
                    aria-selected="false"
                    >Register</a
                  >
                </li>
              </ul>
              <div class="tab-content mb-5" id="myTabContent">
                <div
                  class="tab-pane fade show active"
                  id="loginForm"
                  role="tabpanel"
                  aria-labelledby="loginForm-tab"
                >
                  <form class="needs-validation" novalidate>
                    <div class="mb-3">
                      <label for="validationCustomUsername" class="form-label"
                        >Username</label
                      >
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend"
                          >@</span
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustomUsername"
                          aria-describedby="inputGroupPrepend"
                          required
                        />
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="validationCustomPassword" class="form-label"
                        >Password</label
                      >
                      <div class="input-group has-validation">
                        <input
                          type="password"
                          class="form-control"
                          id="validationCustomPassword"
                          aria-describedby="inputGroupPrepend"
                          required
                        />
                        <div class="invalid-feedback">
                          Please choose a password.
                        </div>
                      </div>
                    </div>
                    <button
                      class="w-100 mb-2 btn rounded-3 btn-primary"
                      type="submit"
                    >
                      Log in
                    </button>
                  </form>
                  <div class="w-100 text-end">
                    <a class="text-decoration-none p-0" href="forgot.html"
                      >Forgot password?</a
                    >
                  </div>
                </div>
                <div
                  class="tab-pane fade"
                  id="registerForm"
                  role="tabpanel"
                  aria-labelledby="registerForm-tab"
                >
                  <form class="row g-3 needs-validation" novalidate>
                    <div class="col-md-6">
                      <label for="validationCustom01" class="form-label"
                        >First name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="validationCustom01"
                        value="Mark"
                        required
                      />
                      <div class="invalid-feedback">
                        Please choose your first name.
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="validationCustom02" class="form-label"
                        >Last name</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="validationCustom02"
                        value="Otto"
                        required
                      />
                      <div class="invalid-feedback">
                        Please choose your last name.
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label
                        for="validationCustomRegisterEmail"
                        class="form-label"
                        >Email</label
                      >
                      <div class="input-group has-validation">
                        <input
                          type="email"
                          class="form-control"
                          id="validationCustomRegisterEmail"
                          aria-describedby="inputGroupPrepend"
                          required
                        />
                        <div class="invalid-feedback">
                          Please choose a email.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label
                        for="validationCustomRegisterUsername"
                        class="form-label"
                        >Username</label
                      >
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend"
                          >@</span
                        >
                        <input
                          type="text"
                          class="form-control"
                          id="validationCustomRegisterUsername"
                          aria-describedby="inputGroupPrepend"
                          required
                        />
                        <div class="invalid-feedback">
                          Please choose a username.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="validationCustom03" class="form-label"
                        >City</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="validationCustom03"
                        required
                      />
                      <div class="invalid-feedback">
                        Please provide a valid city.
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="validationCustom04" class="form-label"
                        >State</label
                      >
                      <select
                        class="form-select"
                        id="validationCustom04"
                        required
                      >
                        <option selected disabled value="">Choose...</option>
                        <option>...</option>
                      </select>
                      <div class="invalid-feedback">
                        Please select a valid state.
                      </div>
                    </div>
                    <div class="col-md-3">
                      <label for="validationCustom05" class="form-label"
                        >Zip</label
                      >
                      <input
                        type="text"
                        class="form-control"
                        id="validationCustom05"
                        required
                      />
                      <div class="invalid-feedback">
                        Please provide a valid zip.
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-check">
                        <input
                          class="form-check-input"
                          type="checkbox"
                          value=""
                          id="invalidCheck"
                          required
                        />
                        <label class="form-check-label" for="invalidCheck">
                          Agree to terms and conditions
                        </label>
                        <div class="invalid-feedback">
                          You must agree before submitting.
                        </div>
                      </div>
                    </div>
                    <div class="col-12">
                      <label for="validationCustom06" class="form-label"
                        >Image</label
                      >
                      <input
                        type="file"
                        id="validationCustom06"
                        class="form-control"
                        aria-label="file example"
                      />
                    </div>
                    <div class="col-md-6">
                      <label for="validationPassword1" class="form-label"
                        >Password 1</label
                      >
                      <div class="input-group has-validation">
                        <input
                          type="password"
                          class="form-control"
                          id="validationPassword1"
                          aria-describedby="inputGroupPrepend"
                          required
                        />
                        <div class="invalid-feedback">
                          Please choose a password.
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <label for="validationPassword2" class="form-label"
                        >Password confirm</label
                      >
                      <div class="input-group has-validation">
                        <input
                          type="password"
                          class="form-control"
                          id="validationPassword2"
                          aria-describedby="inputGroupPrepend"
                          required
                        />
                        <div class="invalid-feedback">
                          Please confirm password.
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <button
                        class="w-100 mb-2 btn rounded-3 btn-primary"
                        type="submit"
                      >
                        Register
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Message-->
      <div class="toast-container position-fixed bottom-0 end-0 p-3 z-index-50">
        <div
          id="liveToast"
          class="toast shadow"
          role="alert"
          aria-live="assertive"
          aria-atomic="true"
        >
          <div class="toast-header">
            <strong class="me-auto">REMIUX</strong>
            <small>11 mins ago</small>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="toast"
              aria-label="Close"
            ></button>
          </div>
          <div class="toast-body">
            Hello, world! This is a toast message. for example by bootstrap
          </div>
        </div>
      </div>
    </div>
      {% block content %}
      {% endblock %}
      
      
      <!-- JavaScript files-->
      <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js'  %}"></script>
      <script src="{% static '/vendor/glightbox/js/glightbox.min.js'  %}"></script>
      <script src="{% static '/vendor/nouislider/nouislider.min.js'  %}"></script>
      <script src="{% static '/vendor/swiper/swiper-bundle.min.js'  %}"></script>
      <script src="{% static '/vendor/choices.js/public/assets/scripts/choices.min.js'  %}"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <!-- <script src="js/front.js"></script> -->
      <script src="{% static '/js/validators.js'  %}"></script>
      <script>
        const popoverTriggerList = document.querySelectorAll(
          '[data-bs-toggle="popover"]'
        );
        const popoverList = [...popoverTriggerList].map(
          (popoverTriggerEl) => new bootstrap.Popover(popoverTriggerEl)
        );
        const toastTrigger = document.getElementById("liveToastBtn");
        const toastLiveExample = document.getElementById("liveToast");

        if (toastTrigger) {
          const toastBootstrap =
            bootstrap.Toast.getOrCreateInstance(toastLiveExample);
          toastTrigger.addEventListener("click", () => {
            toastBootstrap.show();
          });
        }
      </script>
      <script>
        AOS.init({
          once: true,
        });
      </script>
      <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
      <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
      />
    
  </body>
</html>
